<%= form_for [question, Comment.new], :html => { id: "new_comment_#{question.id}" }, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :text, placeholder: "Write a comment", class: "form-control" %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary form-control" %>
<% end %>
